<%= form_tag(request.fullpath, method: 'get', class: 'form-inline pull-right') do %>
  <div class='form-group'>
    <% unless hide_create_button %>
      <%= link_to(t('kadmin.components.finder.create'), url_for(action: :new), class: 'btn btn-primary', style: 'margin-right: 20px') %>
    <% end %>
    <% finder.filters.each do |name, filter| %>
      <%= text_field_tag("filter_#{name}", filter&.value, class: 'form-control', placeholder: "Filter by #{name}...") %>
    <% end %>
    <%= submit_tag(t('kadmin.components.finder.filter'), class: 'btn btn-secondary form-control') %>
  </div>
<% end %>
