<div class="card-title-block">
  <h3 class="title">
      <%= finder.currently_showing %>
      <% unless finder.empty? %>
        (
          <%= t('kadmin.components.finder.out_of', total: finder.pager.total) %>
          <%= finder.applied_filters %>
        )
      <% end %>
      <% if finder.filters.present? %>
        <%= render partial: 'kadmin/components/finder/form', locals: { finder: finder, hide_create_button: hide_create_button } %>
      <% end %>
  </h3>
</div>
