<div class="page-header">
  <h2>
    Showing <%= finder.currently_showing %>
    <% if finder.results.count.positive? %>
      <small>out of <%= finder.pager.total %> <%= finder.applied_filters %></small>
    <% end %>
  </h2>
</div>
