<h2>Register a new person</h2>
<%= render partial: 'kadmin/helpers/form_errors', locals: { model: @person_form } %>
<%= form_for [:admin, @person_form] do |form| %>
  <%= render partial: 'admin/people/form', locals: { form: form, model: @person_form } %>
<% end %>
