<div class="title-block">
  <h2 class="title"><%= @person.full_name %></h2>
</div>

<section class="section">
  <div class="card">
    <div class="card-block">
      <h3>Bibliography</h3>
      <p>Date of birth: <%= @person.date_of_birth %></p>
      <p>Gender: <%= t("person.genders.#{@person.gender}") %>
    </div>
  </div>
</section>

<section class="section">
  <div class="card">
    <div class="card-block">
      <h3>Filmography</h3>
    </div>
  </div>
</section>
