/* -------------------------------------------
    HEADER & NAV & LAYOUT
------------------------------------------- */

a.titlelink {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.helpsidebar img.img-responsive {
    max-width: 100%;
}

/* -------------------------------------------
    FORMS
------------------------------------------- */
.form-control {
    border-radius: 0;
}

.btn {
    margin-bottom: 0;
}

.tab-pane .content {
    padding: 0px;
}

.field_with_errors {
  color: #FF4444;
  font-size: 13px;
  display: block !important;
}

.field_with_errors .form-control {
  box-shadow: none;
  border-color: #FF4444;
}

/* -------------------------------------------
    MISC
------------------------------------------- */

ul.dropdown-menu {
    padding: 8px;
}
ul.dropdown-menu li {
    padding-top: 3px;
    padding-bottom: 3px;
}


/* -------------------------------------------
    SELECT2 PLUGIN
------------------------------------------- */
.select2-dropdown {
    border-radius: 0px !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}
