<div class="page-header">
  <h3>Groups</h3>
</div>

<%= render layout: 'kadmin/components/finder', locals: { finder: @finder } do |items| %>
  <%= render partial: 'admin/groups/table', locals: { groups: items } %>
<% end %>
