<div class='jumbotron' style='margin-top: 1em'>
    <h1 class='display-3'><%= title %></h1>
    <hr class='m-y-2'>
    <p><%= message %></p>
    <p>If this is a recurring error, or this is blocking you, feel free to
        <a href='<%= redmine_ticket_link(error) %>'>open a ticket</a>, and don't forget to add what lead up to this error.</p>
</div>
