<div style='text-align: center; margin-top: 1em'>
  <p><%= link_to(t('rails_admin.authorization.please_login'), RailsAdmin::Omniauth.provider_link) %></p>
  <p><%= t('rails_admin.authorization.login_required') %></p>
</div>
