<div class='card finder'>
  <div class='card-block'>
    <%= render partial: 'kadmin/components/finder/header', locals: local_assigns %>
    <div class='container-fluid'>
      <div class='row' style='padding-top: 15px'>
        <%= yield(finder.results) %>
        <% if finder.pager.pages > 1 %>
          <%= finder.pager.present(self).render %>
        <% end %>
      </div>
    </div>
  </div>
</div>
