<div class='jumbotron' style='margin-top: 1em;'>
  <h1 class='display-3'><%= t('rails_admin.welcome', user: current_user) %></h1>
  <hr class='m-y-2'>
  <p><%= t('rails_admin.dash_message') %></p>
</div>
